
#card-display {
    margin-top: 2vh;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    row-gap: .5vh;
    column-gap: .5vh;
}

#card-button {
    border: none;
    background-color: rgb(239, 239, 239);
}

#card-image {
    height: 100%;
    width: 100%;
    transition: transform;
    transform: scale(1);
}

@media (min-width: 600px) {
    #card-image:hover {
        transition: .5s transform;
        transform: scale(1.05);
    }
}